<!DOCTYPE html>
<html>
  <head>
    <title><%= @app_name %></title>
  </head>

  <body>
    <div class='success'><%= @notice %></div>
    <div class='warning'><%= @success %></div>
    <%= yield %>
  </body>
</html>
